@{
	Layout = "~/Views/Shared/_Layoutnew.cshtml";
}

<div class="bd-content">
	<h3 class="bd-title">Purpose of Bala Vihar</h3>
	<div class="inner-box">
		<div class="row mb-12">
			<div class="col-md-12 table-title">
				The greatest boon given by Pujya Gurudev Swami Chinmayananda to the younger generation is Bala Vihar.
			</div>
		</div>
		<br />
		<br />
		<div class="row mb-12">
			<div class="col-md-12">
				<i>"Children are not vessels to be filled, but lamps to be LIT. The seed of spiritual values should be sown in young hearts, and the conditions made favourable for sprouting and steady growth through proper control and discipline. It must be cared for with the warmth of love and affection, and such a tree shall blossom forth flowers of brotherhood, universal love, peace, bliss, beauty, and Perfection"</i>
			</div>
		</div>
		<div class="row mb-12">
			<div class="col-md-12 text-right">
				<b>Swami Chinmayananda.</b>
			</div>
		</div>
		<br />
		<br />


		<div class="row">
			<div class="col-md-12 table-responsive">

				<div class="row mb-12">
					<div class="col-md-4 table-title">
						<img src="/Content/img/kids.jpg" style="max-width:100%" alt="" />
					</div>
					<div class="col-md-8">
						<span style="color: #f8430c; font-weight: bold">Purpose of Bala Vihar</span><br />
						To train the children and inculcate in them the reverence for our ancient culture, and inspire them to live up to it with correct understanding.<br />
						To create self-confidence to serve and act cheerfully.<br />
						To generate a true affection in all contacts, inculcate personal discipline and a true spirit of leadership.<br />
						To provide an atmosphere to grow with noble ideals, healthy emotions and physical discipline.
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
