
@{
	Layout = "~/Views/Shared/_Layoutnew.cshtml";
	ViewBag.Title = "ContactUs";
}

<div class="bd-content">
	<h3 class="bd-title">Contact Us</h3>
	<div class="inner-box">
		<div class="row mb-3">
			<div class="col-md-6 table-title">Our Contact Information</div>
			<div class="col-md-6 text-right">

			</div>
		</div>
		<div class="row">
			<div class="col-md-12 table-responsive" style="font-size:1rem">

				11S080 Kingery Highway,<br />
				Willowbrook, IL - 60527<br />
				(Phone: 630-654-3370)<br /><br />

				<span style="color:#f8430c;font-weight:bold">Mission Timings:</span><br />
				Sunday:   9am - 11.00am<br />
				Sunday second session:  1pm - 3pm<br />

			</div>
		</div>
	</div>
</div>


