
@{
    ViewBag.Title = "EnrollmentFees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="bd-content">
	<h3 class="bd-title">Enrolment Fees</h3>
	<div class="inner-box">
		<div class="row mb-3">
			<div class="col-md-6 table-title">Enrolment Fees Information</div>
			<div class="col-md-6 text-right">
				<a class="orange-links" id="AddFamilyMember" href="javascript: void(0);"><i class="far fa-plus-square line-height14"></i>Add Enrolment Fee</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 table-responsive">

			</div>
		</div>
	</div>
</div>
