
@{
	Layout = "~/Views/Shared/_Layoutnew.cshtml";
	ViewBag.Title = "GitaChanting";
}

<style>
	.gitaTable {
		width: 100%;
	}

		.gitaTable thead {
			background-color: #e9e4e2;
		}

		.gitaTable td {
			padding: 5px;
		}

	.gitaTableTD {
		color: #666;
		font-weight: bold;
	}
</style>

<div class="bd-content">
<h3 class="bd-title">Gita Chanting</h3>
<div class="inner-box">

	<div class="row">

		<div class="col-md-4">
			<img src="/Content/img/bhagavad-gita.jpg" alt="" style="max-width:70%" />
		</div>
		<div class="col-md-8  table-title">
			The Gita, which teaches the Supreme Truth and the art of living, has inspired millions of people including great world leaders and achievers. Chinmaya Mission conducts Bhagavad Gita competition in all the centers located world wide for children, youth, and adults which consists of thousands of participants each year.
		</div>

	</div>

	<br />
	<br />

	<div class="row mb-12">
		<div class="col-md-12 table-title">
			<b>Gita Chanting Program</b>
		</div>
	</div>

	<br />
	<br />

	<table class="gitaTable" border="1">
		<thead>
			<tr style="font-weight:bold">
				<td>Session</td>
				<td>Teacher</td>
				<td colspan="2">Class Schedule</td>
				<td colspan="2">Teacher Info</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td class="gitaTableTD">Timing</td>
				<td class="gitaTableTD">Location</td>
				<td class="gitaTableTD">Phone</td>
				<td class="gitaTableTD">Email</td>
			</tr>

			<tr>
				<td>Gita Chanting Teaching</td>
				<td>Sudha Gouthama</td>
				<td>Sundays – 11:10 AM – 11:45 AM</td>
				<td>Guruji’s Room – next to book store</td>
				<td>630-682-9341</td>
				<td>sudhagouth@yahoo.com</td>
			</tr>

			<tr>
				<td>Gita Chanting Teaching</td>
				<td>Ramesh Turuvekere</td>
				<td>Sundays – 11:45 AM – 12:25 PM</td>
				<td>Guruji’s Room – next to book store	1</td>
				<td>(331) 220-5179</td>
				<td>ramehrt@gmail.com</td>
			</tr>

		</tbody>
	</table>
</div>
    </div>

