@{
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}

<div class="bd-content">
    <h3 class="bd-title">Bala Vihar</h3>
    <div class="inner-box">

        <div class="row mb-12">
            <div class="col-md-4 text-center">
                <img src="~/Content/img/jugalbandiconcert_april2019.jpg" />
            </div>
        </div>
        <br />
        <div class="row mb-12">
            <div class="col-md-12 table-title" style="background-color: #f3f1fb; text-align: center">
                <h3>Our Mission</h3>
            </div>
        </div>
        <br />
        <div class="row mb-12">
            <div class="col-md-4">
                <img src="~/Content/img/gurus150.jpg" />
            </div>
            <div class="col-md-8" style="font-size: 1rem">
                To provide individuals from any background the wisdom of Vedanta and the practical means for spiritual growth and happiness, enabling them to become positive contributors to society.
            </div>
        </div>
        <br />
        <div class="row mb-12">
            <div class="col-md-8" style="font-size: 1rem">
                <b>Our Vision:</b> The inner transformation of individuals through knowledge of Vedanta, spiritual practice and service to society, resulting in a happy world around them.
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/Gurudev_lectures.jpg" />
            </div>
        </div>
        <br />
        <br />

        <div class="row mb-12" style="background-color: #f3f1fb;">
            <div class="col-md-3">
                <img src="~/Content/img/gita150.jpg" /><br />
                <b>
                    Gita Chanting Competition – Chapter 18  <br />(verses 20 – 39)
                    Sat. April 27, 1pm
                </b><br/>
                Practice chanting online
                Bhagavad Gita all chapters- audio
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/history_of_India.jpg" /><br />
                Erased History of India<br />
                <b>by Dr. Raj Vedam</b><br />
                Sun. April 28,  2019, 11:30am – 12:45pm
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/discovering_peace.jpg" /><br />
                <b>A Devi Retreat for Women</b><br />
                Simple yet profound  'Self Discovery Retreat'<br />
                by Swami Sharanananda<br />
                Fri., May 10, 2019, 8:00am  to 6:30pm<br />
                Please click here to register<br />
                Registration fee:$25 per person
            </div>
            <div class="col-md-3">
                <img src="~/Content/img/Annualcamp2019.jpg" /><br />
                Vedic Heritage Youth Camp 2019<br />
                Click here for Camp Registration<br />
                July 8 – 14  *  July 15 – 19  &<br />
                July 22 – 26 (<b>Adi Shankara – His Life & Contributions</b>)  Religious classes, Arts & Crafts, Yoga, Sports, Fun Fair, S.T.E.M., Field Trips.
            </div>
        </div>

        <br />
        <br />


        <div class="row mb-12">
            <div class="col-md-12 table-title" style="background-color: #f3f1fb; text-align: center">
                <h3>Activities for Adults and Children</h3>
            </div>
        </div>
        <br />
        <div class="row mb-12">
            <div class="col-md-2">
                <img src="~/Content/img/krishna.jpg" />
            </div>
            <div class="col-md-8">
                <table style="width: 100%">
                    <tr>
                        <td>Math Enrichment Classes</td>
                        <td>Bhagavad Gita</td>
                        <td>Rudram/Chamakam Chanting</td>
                        <td>Yoga Classes</td>
                    </tr>
                    <tr>
                        <td>Indian Language Classes</td>
                        <td>Festival Celebrations</td>
                        <td>Spiritual Retreats</td>
                        <td>Summer Camps</td>
                    </tr>
                    <tr>
                        <td>Swaranjali (bhajans)</td>
                        <td>Stuti Vandana</td>
                        <td>Vedic Chanting</td>
                        <td>Vishnu Sahasranamam</td>
                    </tr>
                    <tr>
                        <td>Summer Camps</td>
                        <td>Service Projects</td>
                        <td>ACT/SAT Training Classes</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2">
                <img src="~/Content/img/ganesha_swhite.jpg" />
            </div>
        </div>
        <br />
        <br />
        &nbsp;

        <div class="row mb-12" style="background-color: #191f53; padding: 8px;">
            <div class="col-md-4">
                <span style="color: #ff5c00; font-weight: bold">
                    Information Links
                </span>
                <br />
                <div style="color: white">
                    Chinmaya Publications<br />
                    Chinmaya Mission Global<br />
                    CORD USA<br />
                    CIRS School<br />
                    Chinmaya International Foundation<br />
                    Easy Sanskrit
                </div>
            </div>
            <div class="col-md-4">
                <span style="color: #ff5c00; font-weight: bold">
                    Quick Links
                </span>
                <br />
                <div style="color: white">
                    Bala Vihar<br />
                    Adult Study Groups<br />
                    Weekly Activities<br />
                    Chinmaya Yamunotri<br />
                    Chinmaya Omkara<br />
                    Chinmaya Chicago City Center
                </div>
            </div>
            <div class="col-md-4" style="color: white">
                11S080 Kingery Highway,<br />
                Willowbrook, IL - 60527<br />
                (Phone: 630-654-3370)<br />
                <span style="color: #ff5c00; font-weight: bold">Mission Timings:</span><br />
                Sunday:   9am - 11.00am<br />
                Sunday second session:  1pm - 3pm
            </div>
        </div>



    </div>
</div>

