
@{
	Layout = "~/Views/Shared/_Layoutnew.cshtml";
	ViewBag.Title = "StutiVandana";
}

<style>
	.gitaTable {
		width: 100%;
	}

		.gitaTable thead {
			background-color: #e9e4e2;
		}

		.gitaTable td {
			padding: 5px;
		}

	.gitaTableTD {
		color: #666;
		font-weight: bold;
	}
</style>


<div class="bd-content">
	<h3 class="bd-title">Stuti Vandana</h3>
	<div class="inner-box">

		<div class="row">

			<div class="col-md-4">
				<img src="/Content/img/Sharananandaji-150x150.jpg" alt="" style="max-width: 70%" />
			</div>
			<div class="col-md-8  table-title">
				Swamiji’s Address<br />
				<br />
				<div style="font-size:.8rem">
					Hari Om! Blessed children and parents:<br /><br />

					'Stuti' in sanskrit means glorification. Stotras are hymns which seekers use to glorify god, to fill the mind with divine vibrations.If one praises god who is beyond all expectations, one becomes completely free from pride, arrogance and attains godhead. ‘Stuti Vandana’ is a collection of famous stotras put together by our mission members, for instilling the idea of humility in our children’s mind.<br /><br />

					Children will receive a medal for each stotra that they have memorized. When the child correctly completes the current year’s Bagavad Geeta chapter, he or she will automatically be awarded the Stuti Vandana medal for that chapter.<br /><br />

					When the child has memorized all the stotras, he or she is awarded the final plaque with Pujya Gurudev’s signature on it. In this program every child is a winner for life.<br /><br />

					I request all of you to help your children learn the stotras, which is the best way of imparting the cultural values of our motherland. May Pujya Gurudev’s blessings always be with you and your family members!<br /><br />

					Hari Om!<br /><br />

					<b>
						Stuti Vandana Location:Badri Shrine(11:30am – 11:50am) and (12:30pm- 12:50pm)<br />
						Contact: Suchi Achar – suchiram@hotmail.com or phone: 630-236-3292<br />
						Stuti Vandana medal dates :
					</b>


				</div>
			</div>


		</div>

		<br />
		<br />
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/Content/img/sv350.jpg" />
			</div>
		</div>


	</div>
</div>

