
@{
	Layout = "~/Views/Shared/_Layoutnew.cshtml";
	ViewBag.Title = "Swaranjali";
}

<div class="bd-content">
	<h3 class="bd-title">Swaranjali</h3>
	<div class="inner-box">
		<div class="row mb-12">
			<div class="col-md-12 table-title">
				<span style="color:#f8430c;">"Music is an ornamentation of Silence."&nbsp;&nbsp;<b>- Swami Chinmayananda</b></span>
			</div>
		</div>
		<br />
		<br />
		<div class="row mb-12">
			<div class="col-md-6">
				<img src="/Content/img/swaranjali_banner700.jpg" />
			</div>
			<div class="col-md-6" style="font-size:1.2rem">
				Inspired by Guruji Tejomayanda’s devotional singing and with Swami Sharanananda’s blessings, Chinmaya Mission Chicago (Badri) conducts a Chinmaya Swaranjali program. The vision of Chinmaya Swaranjali is to develop skills in devotional music with focus on sur/shruthi, taal and lyrics in different languages. The Chinmaya Swaranjali choir performs in both programs within Chinmaya Mission and local temples/organizations.  Chinmaya Swaranjali is open to all children and parents attending Chinmaya Mission Chicago.
			</div>
		</div>

		<br /><br />

		<div class="row mb-12">
			<div class="col-md-6" style="font-size:1rem">
				<b><i>Chinmaya Swaranjali</i></b> meets <b>every Sunday from 11:50am – 12:15pm</b> in the <b>shrine</b> at <b>Chinmaya Mission Badri.</b>
				Children have to bring their Swaranjali folders each week.We need a commitment to <b>attend the sessions atleast 3 times a month</b> along with a commitment to practice the bhajans taught.
			</div>
			<div class="col-md-6" style="font-size:1rem;background-color:#f3f1fb">
				For more information or to give suggestions, please Please contact: Mr. Raman Mahadevan – ramdevan23@gmail.com or Phone: 630-904-1386 Mrs. Pavithra Anand pavithra.anand@gmail.com or Phone: 630-440-9258
			</div>
		</div>
		<br /><br />

		&nbsp;
	</div>
</div>

