
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="bd-content">
	<h3 class="bd-title">Users</h3>
	<div class="inner-box">
		<div class="row mb-3">
			<div class="col-md-6 table-title">User Information</div>
			<div class="col-md-6 text-right">

			</div>
		</div>
		<div class="row">
			<div class="col-md-12 table-responsive">
				
			</div>
		</div>
	</div>
</div>

